.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border: 1px solid #e5e7eb;
  min-width: 300px;
  margin: 10px;
}

.canvasContainer {
  position: relative;
  height: 250px;
}

.card h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #333;
}
